@model MusicShop.Models.User

@{
    ViewData["Title"] = "Удалить пользователя";
}

<div class="row mx-auto w-75">
    <h4>Вы уверены, что хотите удалить этого пользователя?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            Логин
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class="col-sm-4">
            Пароль
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger w-100 p-1 mt-2" />
        <a asp-action="Index" class="btn btn-secondary w-100 p-1 mt-2">Вернуться к пользователям</a>
    </form>
</div>
