@{
    ViewData["Title"] = "Магазин гитар";
}

<div class="mx-auto">
    <h1 class="text-center">
        Добро пожаловать!
    </h1>
    <div class="mx-auto" style="max-width: 800px;">
        <div class="d-flex flex-wrap justify-content-around">
            <div class="card m-3" style="width: 18rem;">
                <div class="card-body d-flex flex-column align-content-around">
                    <h5 class="card-title text-primary m-2">Товары</h5>
                    <p class="card-text">
                        В данном разделе Вы сможете просмотреть каталог всех имеющихся товаров.
                    </p>
                    <a class="btn btn-primary w-100" asp-area="" asp-controller="Products" asp-action="Index">Перейти</a>
                </div>
            </div>
            <div class="card m-3" style="width: 18rem;">
                <div class="card-body d-flex flex-column align-content-between">
                    <h5 class="card-title text-primary m-2">Типы товаров</h5>
                    <p class="card-text">
                        В данном разделе Вы сможете просмотреть имеющиеся типы товаров в нашем магазине.
                    </p>
                    <a class="btn btn-primary w-100" asp-area="" asp-controller="ProductTypes" asp-action="Index">Перейти</a>
                </div>
            </div>
            <div class="card m-3" style="width: 18rem;">
                <div class="card-body d-flex flex-column align-content-around">
                    <h5 class="card-title text-primary m-2">Заказы</h5>
                    <p class="card-text">
                        В данном разделе Вы сможете просматривать и обрабатывать заказы покупателей, а также оформлять новые.
                    </p>
                    <a class="btn btn-primary w-100" asp-area="" asp-controller="Orders" asp-action="Index">Перейти</a>
                </div>
            </div>
            <div class="card m-3" style="width: 18rem;">
                <div class="card-body d-flex flex-column align-content-around">
                    <h5 class="card-title text-primary m-2">Корзины заказов</h5>
                    <p class="card-text">
                        В данном разделе Вы сможете добавлять, удалять, а также изменять количество товаров в корзинах заказов.
                    </p>
                    <a class="btn btn-primary w-100" asp-area="" asp-controller="ShoppingCarts" asp-action="Index">Перейти</a>
                </div>
            </div>
            <div class="card m-3" style="width: 18rem;">
                <div class="card-body d-flex flex-column align-content-around">
                    <h5 class="card-title text-primary m-2">Покупатели</h5>
                    <p class="card-text">
                        В данном разделе Вы сможете просматривать, обрабатывать, а также добавлять новых покупателей в базу.
                    </p>
                    <a class="btn btn-primary w-100" asp-area="" asp-controller="Customers" asp-action="Index">Перейти</a>
                </div>
            </div>
            <div class="card m-3" style="width: 18rem;">
                <div class="card-body d-flex flex-column align-content-around">
                    <h5 class="card-title text-primary m-2">Сотрудники</h5>
                    <p class="card-text">
                        В данном разделе Вы сможете просматривать, обрабатывать, а также добавлять информацию о работниках нашего магазина.
                    </p>
                    <a class="btn btn-primary w-100" asp-area="" asp-controller="Employees" asp-action="Index">Перейти</a>
                </div>
            </div>
            <div class="card m-3" style="width: 18rem;">
                <div class="card-body d-flex flex-column align-content-around">
                    <h5 class="card-title text-primary m-2">Статусы заказов</h5>
                    <p class="card-text">
                        В данном разделе Вы сможете просматривать, добавлять и обрабатывать возможные состояния заказов.
                    </p>
                    <a class="btn btn-primary w-100" asp-area="" asp-controller="OrderStatus" asp-action="Index">Перейти</a>
                </div>
            </div>
            <div class="card m-3" style="width: 18rem;">
                <div class="card-body d-flex flex-column align-content-around">
                    <h5 class="card-title text-primary m-2">Способы оплаты</h5>
                    <p class="card-text">
                        В данном разделе Вы сможете просматривать, добавлять и обрабатывать возможные способы оплаты заказов.
                    </p>
                    <a class="btn btn-primary w-100" asp-area="" asp-controller="PaymentTypes" asp-action="Index">Перейти</a>
                </div>
            </div>
            <div class="card m-3" style="width: 18rem;">
                <div class="card-body d-flex flex-column align-content-around">
                    <h5 class="card-title text-primary m-2">Пользователи</h5>
                    <p class="card-text">
                        В данном разделе Вы сможете просматривать, обрабатывать, а также добавлять новых пользователей в систему.
                    </p>
                    <a class="btn btn-primary w-100" asp-area="" asp-controller="Users" asp-action="Index">Перейти</a>
                </div>
            </div>
        </div>
    </div>
</div>
