@model MusicShop.Models.Order

@{
    ViewData["Title"] = "Изменить сведения о заказе";
}

<div class="row">
    <div class="col-md-5 mx-auto">
        <form asp-action="Edit">
            <h4>Сведения о заказе</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CustomerId"class="mb-2 control-label text-decoration-underline">Клиент</label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId"class="mb-2 control-label text-decoration-underline">Сотрудник</label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId"class="mb-2 control-label text-decoration-underline">Статус заказа</label>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentTypeId"class="mb-2 control-label text-decoration-underline">Тип оплаты</label>
                <select asp-for="PaymentTypeId" class="form-control" asp-items="ViewBag.PaymentTypeId">Код типа</select>
                <span asp-validation-for="PaymentTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalCost"class="mb-2 control-label text-decoration-underline">Стоимость заказа</label>
                <input asp-for="TotalCost" class="form-control" />
                <span asp-validation-for="TotalCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate"class="mb-2 control-label text-decoration-underline">Дата оформления</label>
                <input asp-for="OrderDate" class="form-control" readonly />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentDate"class="mb-2 control-label text-decoration-underline">Дата оплаты</label>
                <input asp-for="PaymentDate" class="form-control" type="date" />
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group d-flex mt-2">
                <input type="submit" value="Сохранить" class="btn btn-primary w-100" />
            </div>
        </form>
        <div class="d-flex">
            <a asp-action="Index" class="btn btn-secondary w-100 p-1 mt-2">Вернуться к заказам</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
