@model MusicShop.Models.ProductType

@{
    ViewData["Title"] = "Добавить тип товара";
}

<div class="row">
    <div class="col-md-5 mx-auto">
        <form asp-action="Create">
            <h4>Добавление типа товара</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="mb-2 control-label text-decoration-underline">Тип товара</label>
                <input asp-for="Name" class="form-control" placeholder="Наименование" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-between mt-2">
                <input type="submit" value="Добавить" class="btn btn-primary w-50 me-1" />
                <input type="reset" value="Очистить" class="btn btn-dark w-50 ms-1" />
            </div>
        </form>
        <div class="d-flex">
            <a asp-action="Index" class="btn btn-secondary w-100 p-1 mt-2">Вернуться к типам товара</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
